.body{
    font-family: 'Montserrat';
    background-color: rgb(235, 235, 235);
}

.body-login{
    font-family: 'Montserrat';
    background-color: rgb(235, 235, 235);
}

.box{
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book{
    width: 600px; 
    padding: 10px;
    margin: 0 auto;
    background:white;
    margin-top:20px;
}

.book button{
    width: 180px;
    margin: 5px;
}

.nav-back{
    background: linear-gradient(to right, #a517ba, #5f1782);
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-brand:hover{
    color: lightgray;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    color: lightgray;
}

.navbar-toggler{
    outline: none;
    color: white;
}

#image{
    width: 100%;
    height: 65vh;
    background: url("../img/main.jpg") center;
    background-size: cover;
}

#image .container{
    padding-top: 80px;
}

#image:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1,1,1,0.6);
    height: 65vh;
}

#image h1{
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 56px;
    color: white;
}

#image h2{
    color: white;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.btn-outline-login, .btn-outline-link, .btn-outline-logout, .btn-outline-register {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }

.btn-outline-register{
    color: white;
    background: linear-gradient(to right, #a517ba, #5f1782);
}

.btn-outline-register:hover{
    color: white;
    background: #a417ba65;
}

.btn-outline-login, .btn-outline-link, .btn-outline-logout{
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: white;
}
.btn-outline-login:hover, .btn-outline-link:hover{
    color: #fff;
    background-color: #a517ba;
    border-color: #a517ba;
}

.btn-outline-logout:hover{
    color: white;
    background-color: red;
    border-color:red;
}

#logo_male{
    display: none;
}
.nav-item a:hover{
    background-color: #a517ba
}

#plaintext{
    text-align: justify;
    line-height: 30px;
}

.service{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
}

.service button{
position: relative;
margin-bottom: 0;
}

.service div{
    width: 100%;
}

.service p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.service h4{
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.icon img{
    position: relative;
    width: 100%;
    height: 180px;
    margin-top: 0;
}

.podnadpis{
    font-weight: bold;
    color:#5f1782;
    font-style: italic;
    text-align: center;
}

.contact-box{
    color: white;
    text-align: center;
    box-shadow: black;
    padding: 20px 0 30px 0;
    background: linear-gradient(to right, #a517ba, #5f1782);
}

.ta textarea{
    resize: none;
}

.contact-box h3{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.contact-box p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact button{
    background: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
    border: none;
    padding: 10px;
}

.contact button:hover{
    background: #a517ba;
    color: white;
}

.footer{
    text-align: center;
    font-size: 15px;
    background: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
}

.wrapper{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#wrapper_small{
    max-width: 300px;
}
/*
.form-signin{
    max-width: 380px;
    margin: 0 auto;
    padding: 15px 40px 50px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
}*/


.form-signin input[type="text"], .form-signin input[type="password"], .form-signin input[type="email"]
{
    font-size: smaller;
}

.form-signin .form-control {
    padding: 20px;
}

.login-page-div{
    margin-top: 10px;
}

.form-signin label, .smaller {
    color:black;
    font-size: smaller;
}

.smaller:active{
    color:black;
}

.smaller:visited{
    color:black;
}

#register .form-signin input:disabled{
    background-color: rgb(181, 181, 181);
    text-align: center;
}

/********** DASHBOARD ************/

.dashboard{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/* *******  KALENDÁŘ ********** */

.table-cal{
    table-layout: fixed;
    margin: 0 auto;

}
.table-cal td{
    width: 150px;
    height: 100px;
    padding: 10px;
    vertical-align: top;
}
.today{
    background: rgb(236, 236, 236);
}

@media (max-width: 991.98px) {
    .btn-outline-login{
        width: 95%;
    }
    #uzivatelPrihlasen{
        display: none;
    }
    #logo_velke{
        display: none;
    }
    #logo_male{
        display: inline;
    }
    .icon img{
        position: relative;
        width: 65%;
        height: 200px;
        margin-top: 0;
    }
    .contactbox{
        margin-bottom: 20px;
    }
    .dashboard{
        width: 100%;
    }

    .table-collapse{  
        border-collapse: collapse;
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;    
    }
    
}






